# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**

- Use of markdown cells
- Use of code cells
- Create markdown cells with titles of different levels
- Create markdown cells with different types of lists and tables
- Use of basic arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java
6. Java Script
7. C++
8. Ruby
9. Go
10. Visual Basic
11. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Data structures and tools)
2. NumPy (arrays and matrices)
3. Matplotlib (plots and graphs)
4. Seaborn (plots)
5. Scikit-learn (machine learning)
6. Keras (deep learning neural networks)

## Create a markdown cell with a table

| Data Science Tools |
| ---------------------|
| MySQL |
| Apache Spark SQL |
| GitHub |
| Tensor Flow |
| Kylo |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60

min=200
hs=min/60

hs

3.3333333333333335

## Author

Ing. Carolina Gelmetti